.contact-form {
    background: #e0f5f3;
    color: #000;
}
.contact-form-wrap {
    display: grid;
    grid-template-columns: 50% 40%;
    /* gap: 100px; */
    background: #e0f5f3;
    color: #000;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: center;
    column-gap: 140px;
}
.contct-form .img-text h2 {
    font-size: 60px;
    line-height: 1.2;
}
.contact-img {
    width: 100%;
    max-width: 200px;
    margin-top: 90px;
}
.contact-img img {
    height: auto;
    width: 100%;
}
.form-wrapper {
    background-color: #fff;
    color: #000;
    padding: 30px;
    line-height: 3;
    border-radius: 20px;
    flex-flow: column;
    width: 100%;
    padding: 2rem 2rem 4rem;
    display: flex;
}
.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-header a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #00843d;
}
form {
    line-height: 3;
}
.contct-form .field-block {
    margin-bottom: 20px;
}
.name-field {
    gap: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.email-field ,
.textarea-field{
    display: flex;
    flex-direction: column;
}
.submit-button {
    border: 1px solid #00843d;
    background-color: #00843d;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 100vw;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    font-weight: 500;
    line-height: 110%;
    text-decoration: none;
    transition: all .4s;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}